.logo{
  width: 10rem;
  height: 7rem;
}
.header-div{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.header-div-h1{
  font-size: 3rem;
  margin: auto;
  text-align: center;
  max-width: 37.5rem;
  padding: 1rem;
  font-family: 'Poppins', sans-serif;
}
