.pic-div{
  border-bottom: 1px solid #8080804d;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  border-top: 1px solid #8080804d;
}
h2{
  font-size: 3rem;
  font-family: 'Poppins', sans-serif;
  margin: auto;
  text-align: center;
  padding: 2rem;
}
p{
  font-family: 'Poppins', sans-serif;
  text-align: center;
  padding-bottom: 3rem;
}
@media (max-width: 37.5rem) {
  .pic-div img{
    width: 10rem;
  }
  h2{
    font-size: 1.5rem;
  }

}
