<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;1,300&display=swap" rel="stylesheet">

<div class="pic-div container">
  <img alt="alt1" src="https://cdn.shopify.com/shopifycloud/brochure/assets/cms/logo-soup/en/allbirds-en-32a9094fcaa4ba7a127ff52a9a8a051a501bee2dbc853e77b58347239eba2e31.svg">
  <img alt="alt1" src="https://cdn.shopify.com/shopifycloud/brochure/assets/cms/logo-soup/en/gymshark-6dee5a0bce30830832bb264c6abe948259f5fbc3fae496363d65b93285c0def0.svg">
  <img alt="alt1" src="https://cdn.shopify.com/shopifycloud/brochure/assets/cms/logo-soup/en/brooklinen-en-97e99d6b63701f9e8e01fa31088abea5471e0bffbc5399249d88efab78f09ad7.svg">
  <img alt="alt1" src="https://cdn.shopify.com/shopifycloud/brochure/assets/cms/logo-soup/en/leesa-en-2b8ff54cd3589e8f971a15bec9d18d284f341e021f6d3b5342e5df0b99f90aa6.svg">
  <img alt="alt1" src="https://cdn.shopify.com/shopifycloud/brochure/assets/cms/logo-soup/en/kylie-cosmetics-260bf2e2e655124c9331d97c26967ee10d71bd7384265e76013422c1d1386f84.svg">
  <img alt="alt1" src="https://cdn.shopify.com/b/shopify-brochure2-assets/ea78a94066ce7611983fd5796d4d1a06.svg">
  <img alt="alt1" src="https://cdn.shopify.com/shopifycloud/brochure/assets/cms/logo-soup/en/untuckit-en-ec6d2da1666f7817bd38320be4500cee061c9f2b1868f0bcf141e2cecbf4f876.svg">
  <img alt="alt1" src="https://cdn.shopify.com/shopifycloud/brochure/assets/cms/logo-soup/en/death-wish-coffee-9512e9d17fdeedebb9abfce9ce082598ee47d470fd0f0272ccac128044b7fc70.svg">
  <img alt="alt1" src="https://cdn.shopify.com/shopifycloud/brochure/assets/cms/logo-soup/en/jungalow-en-db026f34f2a0e403d05c12364aa7e8525c04a1bee09adfc20b794c1badec72d7.svg">
  <img alt="alt1" src="https://cdn.shopify.com/shopifycloud/brochure/assets/cms/logo-soup/en/rebecca-minkoff-3d13302faef2bb4815be8aa24b005dc5969f51f8b46eabf5cc397b526f2b5e8e.svg">
</div>
<h2>"Shopify is better than any other platform we've played with, and <br/>we've played with them all."</h2>
<p>Jonathon Bayme, CEO of Theory11
</p>
